{% load verbatim2 %}

<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Бюро находок</title>
    <link href="/static/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/static/js/underscore-min.js"></script>
    <script src="/static/js/backbone-min.js"></script>
    <script src="/static/js/filters.js"></script>
    <script src="/static/js/swig-min.js"></script>
    <script>


        swig.init({ filters : customFilters });

        var template = '{% verbatim2 "/home/bibi/findburo/findburo/templates/reccomendation.html" %}'

        CategoryModel = Backbone.Model.extend({

        })

        ContentView = Backbone.View.extend({
            
            events: {
                'click .theme-item': 'selectCategory'
            },

            selectCategory: function (e) {
                e.preventDefault();
                var $this = $(e.currentTarget);
                //if ($this.hasClass('selected')) return false;
                $this.siblings().removeClass('selected');
                $this.addClass('selected');
                this.model.set('category', $this.data('category'));
                $('body').animate({ scrollTop: 0 }, 400);
            },

            initialize: function(){                
                this.model.bind('change', this.render, this);
                this.delegateEvents();
                this.views = [];
            },

            render: function(){
                var category = this.model.get('category');
                var view = this.views[category] || new ReccomendationView({
                        collection: new ReccomendationCollection([], { category: category }),
                        el: this.$el.find('.recs-holder')
                    });
            }

        });

        ReccomendationCollection = Backbone.Collection.extend({
            url: '/category/',
            initialize: function(models, options){
                this.url += options.category + '/'
            }
        })

        ReccomendationView = Backbone.View.extend({

            template: swig.compile(template),

            initialize: function(){
                var that = this;
                this.collection.bind('reset', this.render, this);
                this.collection.fetch();
                a = this.collection;
            },

            render: function(){
                var that = this,
                    html = "";
                this.collection.each(function(item){
                    html += that.template({ reccomendation : item.toJSON() });
                });
                this.$el.html(html);
            }

        });

        $(function() {
            var contentView = new ContentView({ el: '.content', model: new CategoryModel })
        });


    </script>
</head>
<body class="wood">
    <header class="site-main-header">
        <div class="inner">
            <a href="/" class="logo"></a>
            <a href="#" onclick="yaCounter20109490.reachGoal('add'); return true;" class="add-recomendation">Добавить рекомендацию <i class="icn-plus"></i></a>
        </div>
    </header>
    {% block content %}
    {% endblock %}

    <footer></footer>
<!-- Yandex.Metrika counter --><script type="text/javascript">var yaParams = {/*Здесь параметры визита*/};</script><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter20109490 = new Ya.Metrika({id:20109490, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true,params:window.yaParams||{ }}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/20109490" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
</body>
</html>
