<!doctype html>
<head>
    <meta charset="UTF-8">
    <title>Бюро находок</title>
    <link href="/static/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        $(function() {
            $('.theme-item').click(function(event){
                $('.theme-item').removeClass('selected');
                $(this).addClass('selected');
                if($(this).hasClass('grayBg') == true) {
                    $('body').removeClass().addClass('gray')
                } else if($(this).hasClass('woodBg') == true) {
                    $('body').removeClass().addClass('wood')
                } else if($(this).hasClass('blueBg') == true) {
                    $('body').removeClass().addClass('blue')
                }
            });
        });
    </script>
</head>
<body class="wood">
    <header class="site-main-header">
        <div class="inner">
            <a href="/" class="logo"></a>
            <a href="#" class="add-recomendation">Добавить рекомендацию <i class="icn-plus"></i></a>
        </div>
    </header>
    {% block content %}
    {% endblock %}

    <footer></footer>
</body>
</html>