{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
	    <section class="content">
        <div class="inner">

            <aside class="themes-list-holder">
                <ul class="theme-list">
                	{% for category in category_list %}
                        {% include "category.html" %}
                	{% endfor %}
                </ul>
            </aside>

            <div class="main-banner">
                <span class="banner-text">
                    Вы заработали достижение <b>«Первый просмотр»</b> и получили 5 очков <a href="#" onclick="yaCounter20109490.reachGoal('register');">зарегистрируйтесь</a>, чтобы их сохранить.
                </span>
                <div class="banner-btn-holder">
                    <a href="#" onclick="yaCounter20109490.reachGoal('register'); return true;" class="small-btn red-btn">Зарегистрироваться</a>
                    <a href="#" onclick="yaCounter20109490.reachGoal('sign_in'); return true;" class="small-btn gray-btn">Войти</a>
                </div>
            </div>

            <section class="recs-holder not-signed-in">

            	{% for reccomendation in reccomendation_list %}
                    {% include "reccomendation.html" %}
                {% endfor %}
            </section>

        </div><!-- inner -->
    </section><!-- content -->
{% endblock %}
