<div class="popup-container">
        <div class="popup-holder">
            <div class="popup-body">
                <a class="close-popup-btn"></a>
                <a href="#" class="close-popup-btn">×</a>
                <h1>Регистрация</h1>
                <p>После вашей регистрации мы сможем показывать вам только те рекомендации, которые действительно будут вам интересны.</p>
                <div class="field">
                    <label>Ваш email:</label>
                    <input type="email" class="text-input"></input>
                    <span class="caption">Вы забыли указать email.</span>
                </div>
                <div class="field error-field">
                    <label>Логин:</label>
                    <input type="text" class="text-input"></input>
                    <span class="caption">Извините, но это имя уже занято.</span>
                </div>
                <div class="field">
                    <label>Пароль: <a href="#" class="addition-label action-link show-password">показать</a></label>
                    <input type="password" class="text-input password-input" value=""></input>
                    <span class="caption">Необходимо указать пароль.</span>
                </div>
                <div class="field">
                    <label>Ваш пол:</label>
                    <input type="radio" name="gender" id="male" class="radio-btn" checked><label for="male" class="radio-label">Мужской</label>
                    <input type="radio" name="gender" id="female" class="radio-btn"><label for="female" class="radio-label">Женский</label>
                </div>
                <div class="field btn-field">
                    <a href="#"class="small-btn gray-btn disabled-btn">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
    <div class="popup-bg"></div>