<article class="rec">
    <a href="{{ reccomendation.link }}"><img class="rec-illustration" src="{{ reccomendation }}" alt="{{ reccomendation.name }}"></a>
    <h1>{{ reccomendation.name }}</h1>
    <p>{{ reccomendation.about|safe }}</p>
    <p><a href="{{ reccomendation.link }}">Видеоролики Angry Birds по-русски</a></p>
    <p>
    	{% if reccomendation.link %}
        	<a class="tag home-tag" href="{{ reccomendation.link }}">{{ reccomendation.link }}</a>
       	{% endif %}
        {% if reccomendation.youtube %}
        	<a class="tag youtube-tag" href="{{ reccomendation.youtube }}">YouTube</a>
       	{% endif %}
       	{% if reccomendation.appstore %}
        	<a class="tag apple-tag" href="{{ reccomendation.appstore }}">App Store</a>
       	{% endif %}
       	{% if reccomendation.google %}
        	<a class="tag android-tag" href="{{ reccomendation.google }}">Android</a>
       	{% endif %}
    </p>
</article>